body {

    background: rgba(0, 0, 0, 0.9);
    margin: 0;
    color: #ffff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .top{
    position: absolute;
    top: 0;
    border: 5px solid black;
    height : 60px;
    width: 500px;
  }
  .titlebox{
    flex:left;
  }
  #titlebut{
    border:none;
    background-color: transparent;
    color:white;
  }
  
  .showcase::after {
    content: "";
    height: 50vh;
    width: 100%;
   
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms;
  }
 
  .showcase:hover::after {
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }
  .showcase:hover .content {
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }
  .social-btn{
    background-color: transparent;
    border:none;
    color:white;
    margin-top:4px;
    
    cursor:pointer;
    float:left;
  }
  .social-btn:after{
    content:"";
    clear:both;
    display:table;
  }

  .social-btns button{
    background-color: transparent;
    border:none;
    color:white;
    padding: 10px 24px;
    margin-left: 50px;
    cursor:pointer;
    float:left;

  }
  .social-btns button:not(:last-child){
    border-right:none;
  }
  .social-btns:after{
    content:"";
    clear:both;
    display:table;
  }

  .social-btns button:hover{
    opacity: 0.3;
  }
  .textGrad{
    background: linear-gradient(
    to right, 
    hsl(173, 4%, 50%), 
    hsl(191, 65%, 50%)
  );
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  }
  .contactContainer{
    display:flex;
    flex-direction: column;
    height:100%;
    width:100%;
  }
  .contactContainer .left{
    flex:1;
    
    
  }
  .contactContainer .right{
    flex:1;
    
  }
  
  .infoSlides{
    display:none;
    grid-template-columns: 1fr;
    z-index:9;
  }
  .infoSlides2{
    display:grid;
    grid-template-columns: 1fr 1fr;
    z-index: 9;
  }
  .heading{
    display:inherit;
    grid-template-columns: 1fr;
  }
  .content {
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 20%;
    margin-top: 20px;
    margin-left: -120px;
    width: 1300px;
    height: 350px;
    text-align: center;
    transition: all 1000ms;
    background-size:cover;
  }
  
  .content .logo,
  .container .logo {
    height: 150px;
    width: 200px;
    border-radius: 10px;
    background-size:contain;
  }
  
  .content .title {
    font-size: 2rem;
    margin-top: 1rem;
  }
  
  .content .text {
    line-height: 1.7;
    margin-top: 1rem;
  }
  
  
  .container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
  }
  .links:hover{
    text-decoration: underline;
    cursor:pointer;
  }
  
  .grid-3 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .grid-0{
    display: grid;
    grid-gap:20px;
    grid-template-columns: 1fr;
  }
  .middlearea{
    margin-bottom:20px;
    display: none;
    text-align: center;
    height: 250px;
    grid-template-columns: 1fr;
  }
  .middlearea2{
    margin-bottom:20px;
    display: none;
    text-align: center;
    height: 250px;
    grid-template-columns: 1fr 1fr;
  }
  .middlearea3{
    margin-bottom:20px;
    display: none;
    text-align: center;
    height: 250px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .middlearea4{
    margin-bottom:20px;
    display: none;
    text-align: center;
    height: 250px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .grid-2 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
  .center {
    text-align: center;
    margin: auto;
  }

  .bg-light {
    background: #f4f4f4;
    color: #333;
  }
  
  .bg-dark {
    background: #333;
    color: #f4f4f4;
  }
  footer {
    padding: 2.2rem;
  }
  footer p {
    margin: 0;
  }
  .projectList{
    
    border-radius:20px;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 5px 5px 5px 5px black;
  }
  .projectList:hover{
    opacity: 0.3;
  }
  .projectList:focus{
    border:1px solid green;
  }
  .projectButton{
    padding:5px;
    margin:auto;
    background-color: #333;
    border: none;
  }
  .projectButton:hover{
    background-color: white;
  }
  
  
  /* Small Screens */
  @media (max-width: 560px) {
    .showcase::after {
      height: 50vh;
    }
  
    .content {
      top: 5%;
      margin-top: 5px;
    }
  
    .content .logo {
      height: 200px;
      width: 200px;
    }
  
    .content .text {
      display: none;
    }
    .grid-3,
    .grid-2 {
      grid-template-columns: 1fr;
    }
  
    .services div {
      border-bottom: #333 dashed 1px;
      padding: 1.2rem 1rem;
    }
  }
  
  /* Landscape */
  @media (max-height: 500px) {
    .content .title,
    .content .text {
      display: none;
    }
    #contentBox{
      display:none;
    }
    .content {
      top: 0;
    }
  }
  .info{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
   
  }
  .info-content{
    background-color: hsl(180, 1%, 13%);
    border:1px solid black;
    margin: 15% auto;
    padding: 5px;
    width: 60%;
    height: 60%;
   
  }
  .info-footer{
  
    background-color:rgb(27, 26, 26);
    z-index: 1;
    border-bottom: 1px solid black;
    width:100%;
    height:35%;
  }
  .info-footer1{
    flex:1;  
    
  }
  .info-footer2info{
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
  .info-footer2{
    flex:3;
    background-color:salmon;

  }
  .space{
    margin-left: 10px;
    margin-top:10%;
  }
  .modalImg{
    border-radius: 2px;
    background: transparent;
    background-size:cover;

  }
 
  .info-middle{
    display:flex;

    width:100%;
    height:65%;
  }
  .info-overview{
    flex: 1;
    background-color:rgb(27, 26, 26);
    word-break: normal;
    overflow-x:hidden;
    overflow-y:auto;
  
  }
  .info-overview::-webkit-scrollbar{
    display:none;
  }
  .textdesc{
    margin-left:10px;
    margin-top: 15%;
  }
  .info-desc{
    flex:1;
    background-color: rgb(27, 26, 26);
    word-break: normal;
    overflow-x:hidden;
    overflow-y:auto;
    
  }
  .info-desc::-webkit-scrollbar{
    display:none;
  }
  .info-video{
    flex:3;
    background-color:rgb(27, 26, 26);
    
  }
  .imagemodal{
    margin-left:10%;
  }
  .p1{
    padding:5px;
  }
  .frame{
    display: flex;
    width:100%;
    height: 80%;
  }
  .frame2{
    width:100%;
    height:100%;
  }
  .links{
    color:white;
  }
  .textmid{
    font-size: 24px;

  }
  .imageShowcase{
    border-radius:10px;
  }
  .frame-flex{
    display: flex;
  }
  .frame-one{
    flex: 1;
    height: 100%;
    width: 1%;
  }
  .frame-two{
    flex: 1;
  }
  .textunder{
    height: 10%;
    width:100%;
    color:white;
    font-size: 14px;
    padding: 5px;
    
  }